.App {
  text-align: center;
  color: antiquewhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.left{
  position: fixed;
  left: 0;
   height: 700px;
  width: 20%;
  background-color:rgba(0,0,0, 0.1);
  display: block;
  text-align: center;
  
}
.flo{
  margin-left: 100px;
  text-align: center;
  
}
.flo li{
  height: 180px;
  width: 240px;
  margin-left: 40px;
  background-color:rgba(0,0,0, 0.1);
  display:inline-block;
}
.main{
  width: 60%;
  background-color:rgba(0,0,0, 0.1);
  min-height: 240px;
  height: auto;
  margin-left: 410px;

}
.main p{
  /* color: red; */
  display:inline-block;
  padding-right: 160px;

}
.main h1{
  display:inline-block;
  padding-right: 100px;
}
.main textarea,button,h5{
width: 90px;
height: 20px;

  resize:none;

  display: inline;

}
.main button{
  line-height: 10px;
}