.App {
  text-align: center;
  color: antiquewhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.left{
  position: fixed;
  left: 0;
   height: 700px;
  width: 20%;
  background-color:rgba(0,0,0, 0.1);
  display: block;
  text-align: center;
  
}
.flo{
  margin-left: 100px;
  text-align: center;
  
}
.flo li{
  height: 180px;
  width: 300px;
  margin-left: 20px;
  background-color:rgba(0,0,0, 0.1);
  display:inline-block;
}
.main{
  width: 40%;
  background-color:rgba(0,0,0, 0.1);
  min-height: 240px;
  height: auto;
  margin-left: 290px;

}
.main p{
  /* color: red; */
  display:inline-block;
  padding-right: 60px;
  font-size: 12px;

}
.main h4{
  display:inline-block;
  padding-right: 32px;
}
.main textarea,button,h5{
width: 90px;
height: 20px;

  resize:none;

  display: inline;

}
.main button{
  line-height: 10px;
}
.table1{
  width: 320px;
  height: 300px;
  position:absolute;
  top:220px;
  right:120px;
  /* background-color: aqua; */
  background-color:rgba(0,0,0, 0.1);
}
.table2{
  width: 320px;
  height: 300px;
  position:absolute;
  top:600px;
  right:120px;
  /* background-color: red; */
  background-color:rgba(0,0,0, 0.1);
}